.bgColor {
    background-color: #ffffff;
    color: #cbb26a;
    opacity: .7;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.stayPut {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
} 

.ogo {
    color: transparent;
    background-image: linear-gradient(to right, #d8c690, #cbb26a, #3a0088);
    -webkit-background-clip: text;
    background-clip: text;
    animation: animate 20s linear infinite;
    background-size: 1000%;
}

@keyframes animate {
    0% { background-position: 0% 100%; }
    50% { background-position: 100% 0%; }
    100% { background-position: 0% 100%; }
}




.line {
    width: 30%;
    height: .1rem;
    background-color: #cbb26a;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
}

.about {
    padding: 1.5rem;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    background-color: rgba(203, 178, 106, 0.2);
}

.skillLogo {
    width: 4rem;
    height: auto;
    object-fit: contain;
}

.heroImage {
    margin-top: 1.1rem;
    border-bottom-left-radius: 52.5%;
    border-bottom-right-radius: 32%;
}


.webImage {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    border-top-right-radius: .6rem;
    border-top-left-radius: .6rem;
}


.cards {
    width: 300px;
    height: 380px;
    margin: auto;
    margin-top: .5rem;
    background-color: rgb(203, 178, 106);
    border-radius: .6rem;
}

.contactSection {
    background-color: rgba(203, 178, 106, 0.2);
}

.img-arc {
    position: absolute;
    width: 400px;
    height:400px;
    top: -17%;
    right: -21%;
    border-left: .6rem solid #ffffff;
    border-bottom: .6rem solid #ffffff;
    border-radius: 50% 50% 50% 50%;
    border-top: .6rem solid rgba(255, 255, 255, 0);
    border-right: .6rem solid rgba(255, 255, 255, 0);
    transform: rotate(0deg);
    /* overflow: hidden; */
}

.arc-right {
    transform: rotate(5deg);
}

.small-circle {
    position: absolute;
    width: 35px;
    height: 35px;
    right: 71%;
    top: -8.5%;
    border-radius: 50%;
    background-color: #cbb26a;
}

.circle-right {
    right: -2%;
    top: 82.5%;
    background-color: #ffffff;
}

.mid-circle {
    position: absolute;
    width: 60px;
    height: 60px;
    left: -8%;
    top: 22%;
    border-radius: 50%;
    background-color: rgba(203, 178, 106, 0.6);
    filter: blur(6px);
    
}

@media only screen and (max-width:330px) {
    .img-arc, .small-circle, .circle-right, .mid-circle, .arc-right {
        display: none;
    }
}


@media only screen and (min-width:768px) {
    .cards {
        width: 100%;
        height: 450px;
        margin: auto;
        margin-bottom: .5rem;
    }

    .webImage {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        object-fit: cover;
    }

    .img-arc {
        top: -17%;
        right: -21%;
    }
    
    .arc-right {
        transform: rotate(5deg);
    }
    
    .small-circle {
        right: 71%;
        top: -8.5%;
    }
    
    .circle-right {
        right: -2%;
        top: 82.5%;
    }
    
    .mid-circle {
        left: -8%;
        top: 22%;
    }
}
@media only screen and (min-width:1024px) {
    .line {
        height: 30%;
        width: .1rem;
    }

    .cards {
        width: 450px;
        height: 500px;
        margin: auto;
        margin-bottom: 1rem;
    }

    .webImage {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        object-fit: cover;
    }

    .projectCardWrapper {
        width: 85%;
    }
}

@media only screen and (min-width:1440px) {
    .projectCardWrapper {
        width: 70%;
    }
    
}